@font-face {
    font-family: 'Montserrat';
    src: url('static/fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('static/fonts/Montserrat-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

body {
    background-color: #224996;
    color: #fff;
    font-family: 'Montserrat', Arial, sans-serif;
    margin: 0;
}

img {
    max-width: 100%;
}

.home-main {
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('static/images/bg-large.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.1;
    z-index: -1;
}

.home-hero {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 40px;
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    box-sizing: border-box;
}

.coming-soon {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    max-width: 360px;
    opacity: 0.2;
}

.content-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 540px;
    margin: 0 auto;
}

.logo-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-mark {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.logo-type {
    width: 150px;
    height: 50px;
}

.heading-wrap {
    margin-bottom: 40px;
}

.heading-wrap h1 {
    font-size: 2rem;
    margin-bottom: 40px;
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 240px;
}

form input, form button {
    padding: 10px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-family: 'Montserrat', Arial, sans-serif;
}

form input {
    color: #fff;
    background-color: rgb(255, 255, 255,0.1);
    border: 1px solid #fff;
}
form input::placeholder {
    opacity: 0.5;
    color: #fff;
  }
  

form button {
    background-color: #fff;
    color: #224996;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
}

form button:hover {
    background-color: #BB9F5F;
    color: #fff;
}

.socials-wrap a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
}

.socials-wrap a:hover {
    color: #BB9F5F;
}

@media (max-width: 768px) {
    .home-main {
        display: block;
    }

    .home-hero {
        grid-template-columns: 1fr;
        text-align: center;
        max-width: 440px;
        margin: 40px auto 0;
    }

    .coming-soon {
        order: 2;
        margin-top: 40px;
    }

    .coming-soon_up {
        display: none;
    }

    .background-image {
        background-image: url('static/images/bg-medium.jpg');
    }

    .content-wrap {
        align-items: center;
    }

    .logo-wrap {
        flex-direction: row;
    }

    .heading-wrap h1 {
        font-size: 1.5rem;
    }
    form {
        margin: 0 auto;
    }
}

@media (max-width: 640px) {
    .background-image {
        background-image: url('static/images/bg-small.jpg');
    }
}
